@import url(../css/reset.css); /*-Обнулення-*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);


/* ----------------------------------------------------------------*/

[class*="__container"] {
	max-width: 1080px; /* Обмежуючий */
	margin: 0px auto;
	padding: 0px 15px;
	
}

/* Стилі за замовченням */
body {
	font-family: Montserrat;
	font-weight: 400;
	color: rgb(37, 43, 66);

}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}

.page {
	flex: 1 1 auto;

}

/*-----------------------------------------------------*/
.header {
	
}
.header__container {
	height: 95px;
	display: flex;
	align-items: center;

}
.header__logo {
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
}
.header__menu {
	
}
.header__items {
	padding-left: 75px;
	display: flex;
}
.header__list {
	margin: 20px;
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.header__link {
	transition: color 0.2s ease;
}
.header__link:hover{
	color:rgb(150, 187, 124) ;
}

.header__link:active{
	color:  rgb(67, 92, 50);
}

.header__button {
	display: inline-flex;
	padding-left: 180px;
	align-items: center;
	gap: 30px;
	
}
.header__login {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
	text-align: right;
}

.header__login:hover{
	color:  rgb(118, 141, 102);
}
.header__login:active{
	color:  rgb(67, 92, 50);
}

.header__join {
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
	border-radius: 5px;
	background: rgb(150, 187, 124);
	padding: 15px 52px 15px 25px;
	transition: 0.2s ease;
	position: relative;
}

.header__join:hover{
	background: rgb(98, 124, 79);
}
.header__join:active{
	background: rgb(67, 92, 50);
}


.header__join::before{
	position: absolute;
	content: '';
	background-image: url(../img/arrow.svg);
	top: 20px;
	right: 30px;
	width: 12px;
	height: 10px;
}
/*----------------------------------------------------------------*/
.page__container {

	
}


.page__block {
	display: flex;
	
}
.page__items {
	padding-top: 100px;
}
.page__subtitle {
	color: rgb(150, 187, 124);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
.page__title {
	padding-top: 60px;
	color: rgb(37, 43, 66);
	font-family: Montserrat;
	font-size: 58px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: 0.2px;
	text-align: left;
	width: 542px;
	height: 160px;
}
.page__text {
	padding-top: 80px;
	color: rgb(115, 115, 115);
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.2px;
}
.page__buttons {
	padding-top: 40px;
}
.page__btn1 {
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
	border-radius: 5px;
	background: rgb(150, 187, 124);
	padding: 15px 40px;
	transition: 0.2s ease;
}
.page__btn1:hover{
	background: rgb(118, 141, 102);
}
.page__btn1:active{
	background: rgb(67, 92, 50);
}


.page__btn2 {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.2px;
	box-sizing: border-box;
	border: 1px solid rgb(150, 187, 124);
	border-radius: 5px;
	padding: 15px 40px;
	transition:  0.2s ease;
}

.page__btn2:hover{
	background: rgb(118, 141, 102);
	color: rgb(255, 255, 255);
}
.page__btn2:active{
	background: rgb(67, 92, 50);
	color: rgb(255, 255, 255);
}

.page__image {
	
}
.main__block {
	margin-top: -90px;
	display: flex;
	gap: 30px;
}
.main__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
	background: rgb(255, 255, 255);
	padding: 30px;
}
.main__image {
}
.main__title {
	color: rgb(37, 43, 66);
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
	position: relative;
}

.main__title::after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 50px;
	height: 2px;
	background: rgb(231, 64, 64);
}

.main__text {
	padding-top: 10px;
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
}

/*-------------------------------------------------------*/
.page__packages {
}
.packages__container {
	padding-top: 150px;
	padding-bottom: 150px;
	display: flex;
	align-items: center;
	gap: 270px;
}
.packages__image {
	position: relative;
	padding-left: 50px;
	
}
.packages__image::before{
	content: '';
	background: url(../img/packages/Rectangle.png) no-repeat;
	position: absolute;
	top: 30px;
	left: 70px;
	width: 376.94px;
	height: 440.61px;
	z-index: -1;
}

.packages__image-1 {
	content: '';
	background: url(../img/packages/01.png) no-repeat;
	position: absolute;
	top: 130px;
	left: -9px;
	width: 250px;
	height: 80px;
	z-index: 2;
}
.packages__image-2 {
	content: '';
	background: url(../img/packages/02.png) no-repeat;
	position: absolute;
	top: 150px;
	right: -65px;
	width: 139px;
	height: 130px;
	z-index: 3;
}
.packages__image-3 {
	content: '';
	background: url(../img/packages/03.png) no-repeat;
	position: absolute;
	top: 315px;
	left: 25px;
	width: 155px;
	height: 106px;
	z-index: 4;
}


.packages__items {
}
.items-menu {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.packages__title {
}
.title-menu {
	color: rgb(37, 43, 66);
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.2px;
	position: relative;
}
.title-menu::after{
	content: '';
	background: rgb(231, 64, 64);
	width: 94px;
	height: 7px;
	position: absolute;
	top: -35px;
	left: 0;
}


.packages__text {
}
.text-menu {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
}
.packages__button {
}
.button-menu {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	position: relative;
	transition: color 0.3s ease;
}
.button-menu:hover{
	color:rgb(84, 105, 70) ;
}

.button-menu::before{
	content: '';
	position: absolute;
	top: 4px;
	left: 90px;
	background: url(../img/packages/icon\ arrow-next.jpg);
	width: 9px;
	height: 16px;
	
}

/*------------------------------------------------------*/
.page__approdable {
}
.approdable__container {
	display: flex;
	align-items: center;
	
	
}
.approdable__items {
}
.items-menu {
}
.approdable__title {
	white-space: nowrap;
}
.title-menu {
}
.approdable__text {
}
.text-menu {
}
.approdable__button {
}
.button-menu {
}
.approdable__image {
	padding-left: 80px;
}
/*---------------------------------------*/
.page__courses {
}
.courses__container {
	padding-top: 150px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	
}
.courses__subtitle {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.courses__title {
	color: rgb(37, 43, 66);
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.2px;
}
.courses__text {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
}

/*--------------------------------------------------------------------*/
.page__shop {
}
.shop__container {
	display: flex;
	gap: 30px;
}
.shop__block {
}
.shop__image1 {
	width: 238px;
	height: 300px;
	background-image: url(../img/shop/01.png);
	position: relative;
}
.shop__image2 {
	width: 238px;
	height: 300px;
	background-image: url(../img/shop/02.png);
	position: relative;
}
.shop__image3 {
	width: 238px;
	height: 300px;
	background-image: url(../img/shop/03.png);
	position: relative;
}
.shop__image4 {
	width: 238px;
	height: 300px;
	background-image: url(../img/shop/04.png);
	position: relative;
}


.shop__image-text {
	position: absolute;
	top: 15px;
	left: 10px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	background: rgb(231, 64, 64);
	padding: 2px 6px;
	transition: transform 0.3s ease; 
}
.shop__image-text:hover{
	transform: scale(1.2); 
}
.shop__image-items {
	display: flex;
	justify-content: center;
	padding-top: 240px;
	gap: 10px;
}
.shop__image-icon1 {
	border-radius: 44.79px;
	background: rgb(255, 255, 255);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease; 
}
.shop__image-icon1:hover{
	transform: scale(1.2); 
}

.shop__image-icon2 {
	border-radius: 44.79px;
	background: rgb(255, 255, 255);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease; 
}

.shop__image-icon2:hover{
	transform: scale(1.2); 
}
.shop__image-icon3 {
	border-radius: 44.79px;
	background: rgb(255, 255, 255);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease; 
}
.shop__image-icon3:hover{
	transform: scale(1.2); 
}
.shop__items {
	padding: 25px;
	
}
.shop__title {
	display: flex;
}
.shop__title-text {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	white-space: nowrap;
}
.shop__title-star {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background: rgb(45, 64, 89);
	width: 50px;
	height: 26px;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0.2px;
	margin-left: 7px;
}
.shop__title-star p{
	margin-left: 3px;
}

.shop__subtitle {
	color: rgb(37, 43, 66);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.shop__text {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
	padding-right: 5px;
}
.shop__download {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.shop__dwn {
}
.shop__price {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	padding-bottom: 20px;
}
.shop__price span{
	color: rgb(255, 171, 113);
	
}


.shop__button {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
	box-sizing: border-box;
	border: 1px solid rgb(150, 187, 124);
	border-radius: 37px;
	padding: 10px 40px 10px 20px;
	position: relative;
	transition: 0.5s ease;
}
.shop__button::before{
	content: '';
	position: absolute;
	top: 12px;
	left: 115px;
	background-image: url(../img/shop/arrow\ button.png);
	width: 9.14px;
	height: 16px;
}
.shop__button:hover{
	background: rgb(98, 124, 79);
	color: rgb(255, 255, 255);
}
.shop__button:active{
	background: rgb(67, 92, 50);
	color: rgb(255, 255, 255);
}

/*-----------------------------------------------------*/
.page__people {
}
.people__container {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 25px;
}
.people__items {
	width: 508px;
	height: 378.01px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.people__image {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	overflow: hidden;

}
.people__text {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
}
.people__image-star {
}
.people__img {
}
.people__img1 {
}
.people__title {
	color: rgb(37, 43, 66);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
.people__subtitle {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
/*-------------------------------------------------------------*/
.page__newsletter {
	background: rgb(255, 242, 243);
}
.newsletter__container {
	width: 1050px;
	height: 574px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

}
.newsletter__subtitle {
	color: rgb(150, 187, 124);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.newsletter__title {
	color: rgb(37, 43, 66);
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0.1px;
}
.newsletter__text {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.2px;
	text-align: center;
	padding-bottom: 70px;
}
.newsletter__form {
	position: relative;
	
}
.newsletter__email {
	box-sizing: border-box;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
	background: rgb(249, 249, 249);
	width: 688px;
	height: 58px;
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.2px;
	padding-left: 20px;
	outline: none;
}
.newsletter__btn {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 0px 5px 5px 0px;
	background: rgb(150, 187, 124);
	width: 117px;
	height: 58px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.2px;
}

.newsletter__btn:hover {
	background: rgb(98, 124, 79);
}

.newsletter__btn:active{
	background: rgb(67, 92, 50);
}

/*----------------------------------------------------------------*/
.page__partners {
}
.partners__container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;

}
.partners__items {
	
}
.partners__link {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.partners__list {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.partners__list:hover{
	text-decoration: underline;
}

.partners__list span{
	color: rgb(37, 43, 66);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
.get__items {
}
.get__link {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.get__list {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.get__list:hover{
	text-decoration: underline;
}


.get__list span{
	color: rgb(37, 43, 66);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}

/*---------------------------------------------------*/
.footer {
	background: rgb(250, 250, 250);
}
.footer__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}
.footer__text {
	color: rgb(115, 115, 115);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.2px;
}
.footer__image {
	display: flex;
	gap: 20px;
}
.footer__icons {
	transition: transform 0.3s ease; 
}

.footer__icons:hover{
	transform: scale(1.2); 
}