@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Play:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rowdies:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap");



@import "_fonts.scss";
@import "_mixins.scss";
@import "_reset.scss";
@import "_colors.scss";
@import "_common.scss";
@import "_footer.scss";
@import "_register.scss";

/*=================================================================*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Play", serif;
    color: $mainColor;
    background: $backgroundColor;
}


[class*="__container"] {
    max-width: toRem(1310);
    margin: 0 auto;
    padding-inline: toRem(15);

}


.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

//=================================================================
.menu-open .header__menu{
    left: 0;
}

.menu-icon {
    display: none;

    @media (max-width: toEm(925.98)) {
        display: block;
        position: relative;
        height: 1.125rem;
        width: 1.875rem;
        flex-shrink: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: .1875rem;
            width: 100%;
            left: 0;
            background-color: $blueColor;
        }

        span {
            content: "";
            position: absolute;
            height: .1875rem;
            width: 60%;
            left: .375rem;
            background-color: $blueColor;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translate(0rem, -50%);
        }
    }
}

.header {
    background: $headerColor;
    // .header__container

    &__container {
        display: flex;
        align-items: center;
        color: $blueColor;
        font-size: toRem(20);
        font-weight: 700;
        line-height: 1.3;
        justify-content: space-between;
        gap: toRem(20);
        padding-block: toRem(12);

        @media (max-width: toEm(925.98)) {
            justify-content: start;
        }
    }

    // .header__logo

    &__logo {
        width: 5.3125rem;

        @media (max-width: toEm(925.98)) {
            flex-grow: 1;
        }

        @media (max-width: toEm(374.98)) {
            width: 3.125rem;
        }
    }

    // .header__menu

    &__menu {
        @media (max-width: toEm(925.98)) {
            position: fixed;
            top: 0;
            left: -100%;
            transition: all 0.3s;
            width: 100%;
            height: 100%;
            background-color: $headerColor;
            opacity: 0.95;
            padding: 2rem;
        }
    }

    // .header__list

    &__list {
        display: flex;

        align-items: center;
        flex-wrap: wrap;
        row-gap: toRem(20);
        column-gap: toRem(60);

        @media (max-width: toEm(1099.98)) {
            column-gap: toRem(40);
        }

        @media (max-width: toEm(987.98)) {
            column-gap: toRem(22);
        }

        @media (max-width: toEm(925.98)) {
            flex-direction: column;
            align-items: flex-start;
        }

    }


    // .header__item

    &__item {}

    // .header__link

    &__link {
        display: flex;

        transition: 0.5s;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }

        img {
            padding-left: toRem(12);
            transition: transform 0.2s;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        span {
            display: none;
        }

        @media (max-width: toEm(925.98)) {
            span {
                display: flex;
            }
        }

    }

    // .header__user

    &__user {
        &:last-child {
            flex-direction: row-reverse;
            gap: toRem(12);
        }
    }

    // .header__button

    &__button {
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1;
        border: 3px solid #266294;
        padding: toRem(12) toRem(28);
        transition: background 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background: #B5D9F8;
            }
        }

        @media (max-width: toEm(424.98)) {
            padding: toRem(10) toRem(24);
            font-size: 0.875rem;
        }

        @media (max-width: toEm(374.98)) {
            padding: toRem(8) toRem(18);
            /* Зменшення відступів */
        }
    }
}

.user {
    display: flex;
    align-items: center;
    gap: toRem(28);

    // .user__icon

    &__icon {}

    // .user__img

    &__img {
        transition: transform 0.2s;

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }

    }

    // .user__text

    &__text {
        transition: 0.5s;

        @media (any-hover: hover) {
            a:hover {
                text-decoration: underline;
            }
        }
    }
}




//=================================================================

.hero {
    background-image: url(../img/main-image.jpg);
    background-size: cover;
    background-position: 45% 10%;
    background-repeat: no-repeat;
    height: 100%;
    padding-left: 30px;

    @media (max-width: toEm(1100)) {}

    @media (max-width: toEm(800)) {}

    @media (max-width: toEm(716)) {
        background-position: 45%;

    }

    // .hero__container

    &__container {
        padding-top: 100px;
        padding-bottom: 513px;
    }

    // .hero__items

    &__items {
        &:not(:last-child) {
            margin-bottom: toRem(100);

            @media (max-width: toEm(1100)) {
                margin-bottom: toRem(80);
            }

            @media (max-width: toEm(800)) {
                margin-bottom: toRem(60);
            }

            @media (max-width: toEm(716)) {
                margin-bottom: toRem(30);
            }
        }
    }

    // .hero__title

    &__title {
        text-align: center;
        font-family: "Impact";
        //   font-size: toRem(80);
        font-size: min(max(40px, calc(40px + (80 - 40) * ((100vw - 320px) / (1310 - 320)))), 80px);
        line-height: 1;
        text-transform: uppercase;
        color: $blueColor;
    }


    // .hero__button

    &__button {}
}

.button {
    color: $whiteColor;
    font-family: "Josefin Slab";
    font-size: toRem(16);
    font-weight: 700;
    line-height: 1;
    display: flex;
    justify-content: center;
    column-gap: toRem(128);

    @media (max-width: toEm(1100)) {
        column-gap: toRem(70);
    }

    @media (max-width: toEm(800)) {
        column-gap: toRem(30);
    }

    @media (max-width: toEm(716)) {
        flex-direction: column;
        gap: toRem(20);
        align-items: center;
    }

    // .button__find

    &__find {
        flex-shrink: 0;
        border: toRem(1) solid $blueColor;
        background: $blueColor;
        padding: 1rem 2rem;
        transition: 0.3s;

        @media (any-hover: hover) {
            &:hover {
                border: toRem(1) solid #4F85B2;
                background: #4F85B2;
            }
        }

    }

    // .button__submit

    &__submit {
        flex-shrink: 0;
        color: $whiteColor;
        border: toRem(2) solid $blueColor;
        padding: 1rem 2rem;
        transition: background 0.3s;

        @media (any-hover: hover) {
            &:hover {
                background: #B5D9F8;
            }
        }
    }
}
//=================================================================
.advert {

    // .advert__container

    &__container {
        padding-block: toRem(32);
        color: $mainColor;
        font-weight: 700;
        line-height: 1;
    }

    // .advert__title

    &__title {
     //   font-size: toRem(40);
        font-size: min(max(30px, calc(30px + (40 - 30) * ((100vw - 320px) / (1280 - 320)))), 40px);
        &:not(:last-child){
            margin-bottom: toRem(28);
        }
    }

    // .advert__items

    &__items {
    }
    
}
.items-advert {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toRem(20);   
    @media (max-width: toEm(600)) {
        grid-template-columns: 1fr;

    }
    
    
    // .items-advert__box

    &__box {
        display: flex;
        flex-direction: column;
        row-gap: toRem(20);

    }

    // .items-advert__image

    &__image {
        overflow: hidden;
        img{
            aspect-ratio: 630 / 540;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        

    }

    // .items-advert__title

    &__title {
        text-align: center;
        font-size: toRem(32);
        font-size: min(max(24px, calc(24px + (32 - 24) * ((100vw - 320px) / (1280 - 320)))), 32px);
        @media (max-width: toEm(768)) {
            font-weight: 400;
        }
        transition: color 0.3s;
        @media (any-hover: hover){
            &:hover{
                color: $greyColor;
            }
        }
    }
}
